<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.binarygadget.minibangladesh">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:label="Mini Bangladesh">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EducationActivity" android:label="EDUCATION"/>
        <activity android:name=".HealthActivity"    android:label="HEALTH"/>
        <activity android:name=".MinistryActivity"  android:label="MINISTRY"/>
        <activity android:name=".JobActivity"       android:label="JOB" />
        <activity android:name=".ContactsActivity"  android:label="CONTACTS" />
        <activity android:name=".AboutActivity" android:label="ABOUT"></activity>
    </application>

</manifest>